DROP TABLE IF EXISTS 'data';
CREATE TABLE 'data'(
myindex INTEGER PRIMARY KEY NOT NULL,
id VARCHAR(32) NOT NULL,
name VARCHAR(1024) NOT NULL,
url VARCHAR(4096) NOT NULL,
is_download INTEGER NOT NULL
);